@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  background-image: linear-gradient(to right, #66ccff, #a3d2ca, #e0f7fa);
  color: #2D2A3A;
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  max-width: 1000px;
  margin: 15px auto;
  padding: 15px;
}

html.dark body {
  background-image: linear-gradient(to right, #1E3A78, #2D2A3A, #000000);
  color: #e0f7fa;
  max-width: 1000px;
  margin: 15px auto;
  padding: 15px;
}

button, input {
  cursor: pointer;
}

@media (max-width: 600px) {
  body {
    margin: 0;
  }
  html.dark body {
    margin: 0;
  }
}



